<!DOCTYPE html>
<html>
  <head>
    <title>The Puppy Place - List a Puppy</title>
  </head>
  <body>
    <h1>List a Puppy</h1>
    <form method = "POST" action = "/puppy">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
