<!DOCTYPE html>
<html>
  <head>
    <title>The Puppy Place - Puppy Details</title>
  </head>
  <body>
    <h1>Puppy Details</h1>
    <h2>Puppy Name: <%= @puppy_details[:name] %></h2>
    <h2>Puppy Breed: <%= @puppy_details[:breed] %></h2>
    <h2>Puppy Age: <%= @puppy_details[:age] %></h2>
  </body>
</html>
