<!DOCTYPE html>
<html>
  <head>
    <title>The Puppy Place - Puppy Details</title>
  </head>
  <body>
    <h1>Puppy Details</h1>
    <h2>Puppy Name: <%= @puppy.name %></h2>
    <h2>Puppy Breed: <%= @puppy.breed %></h2>
    <h2>Puppy Age: <%= @puppy.age %></h2>
  </body>
</html>
